a[itemprop="url"] {
    color: #fff000;
}

nav a.active {
    background-color: #fff000;
    color: #fff;
}

.btn-primary {
	color: #ed008c;
	background-color: #fff000;
	border: 4px solid #ed008c;
  font-weight: bold;
}

.btn-primary:focus:not(.btn-ghost), .btn-primary:hover {
	background-color: #ed008c;
	border-color: #ed008c;
}

.solarized-dark h1, .solarized-dark h2, .solarized-dark h3, .solarized-dark h4, .solarized-dark h5, .solarized-dark h6 {
	color: #fff000;
}
