{{ define "header" }}
  {{ partial "menu.html" . }}
{{ end }}
{{ define "main" }}
  <article itemscope itemtype="http://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    <header>
      <br>
      {{ if .Resources.GetMatch "header" }}
        {{ $image599 := (.Resources.GetMatch "header").Fill "599x337 q59 Center" }}
        {{ $image899 := (.Resources.GetMatch "header").Fill "899x505 q69 Center" }}
        {{ $image1199 := (.Resources.GetMatch "header").Fill "1199x674 q79 Center" }}
        {{ $image1599 := (.Resources.GetMatch "header").Fill "1599x899 q89 Center" }}
        <img
          alt=""
          class="lazyload blur-up"
          src="{{ $image599.RelPermalink }}"
          data-sizes="auto"
          data-src="{{ $image1199.RelPermalink }}"
          data-srcset="{{ $image599.RelPermalink }} 599w, {{ $image899.RelPermalink }} 899w, {{ $image1199.RelPermalink }} 1199w, {{ $image1599.RelPermalink }} 1599w"
        >
      {{ end }}
      <h1 itemprop="headline">{{ .Title }}</h1>
      <p class="muted">
        {{ partial "post/meta.html" . }}
      </p>
      {{ if .Description }}
        <blockquote itemprop="description">{{ .Description }}</blockquote>
      {{ end }}
    </header>
    {{ partial "toc-maybe.html" . }}
    <div itemprop="articleBody">
      {{ .Content }}
    </div>
    {{ if .Site.DisqusShortname }}
      <article>
        {{ template "_internal/disqus.html" . }}
      </article>
    {{ end }}
    <footer>
      <hr>
      {{ partial "post/byline.html" . }}
      {{ partial "post/related-content.html" . }}
    </footer>
  </article>
{{ end }}
{{ define "footer" }}
  {{ partial "powered-by.html" . }}
{{ end }}
